@use '../../config.scss' as Config;

.mainContainer {
    display: flex;    
    min-height: 100vh - Config.$headerHeight;
    min-width: 100vw;
    background-color: #F8F8F8;
    flex-direction: row;    

    .pageContainer {
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;
        margin-left: Config.$sideNavBarWidth;        
        width: 100vw - Config.$sideNavBarWidth;        
    }

}