@use '../../../../config.scss' as Config;

$textInputWidth: Config.$X0 + Config.$X2 + Config.$X5;
$sendButtonWidth: Config.$X4;
$iconSizes: 1.2;

.messageInputComponentContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;	
	width: 100%;
	background-color: Config.$secondaryColor;
	border-radius: Config.$YVH2;

	.messageInput {				
		display: flex;
		height: 100%;
		width: 100% - $sendButtonWidth;
		flex-direction: row;		
		align-items: center;
		justify-content: space-between;
		padding: 0 Config.$X6;
		background-color: white;
		border-radius: 60px;			
		border: 1px solid Config.$secondaryColor;				

		.inputIn {
			display: flex;
			border: none;			
			width: $textInputWidth;			
			height: Config.$YVH6 + Config.$YVH8;			
		}

		input:focus,
		textarea:focus,
		select:focus {
			outline: none;			
		}

		.emoji {
			display: flex;
			width: 100% - $textInputWidth;
			transform: scale($iconSizes);			
		}

		.emoji:hover {
			cursor: pointer;
		}
	}

	.purpleButton {	
		display: flex;	
		background-color: Config.$secondaryColor;	
		width: $sendButtonWidth;	
		border-radius: Config.$YVH2;
		height: 100%;		
		align-items: center;
		justify-content: center;

		.sendLogo {
			transform: scale($iconSizes);
		}
	}

	.purpleButton:hover {
		cursor: pointer;
	}
}
