$primaryColor: #2196F3;
$primaryColorDark: #0069c0;
$primaryColorLight: #6ec6ff;
$primaryColorFilter: rgba(23,105,170,0.75);
$secondaryColor: #5e35b1;
$secondaryColorDark: #280680;
$secondaryColorLight: #9162E4;
$backgroundColor: #212121;
$backgroundColorFilter: rgba(23, 23, 23, 0.55);
$backgroundColorDark: #171717;
$backgroundColorLight: #4D4D4D;
$backgroundColorWhite: #F8F8F8;

// Porcentajes aureos
$X0: 61.8046971569839%;
$Y0: 61.8046971569839%;
$X1: 38.1701231515817%;
$Y1: 38.2094664194479%;
$X2: 23.5773474339605%;
$Y2: 23.627420683972%;
$X3: 14.5927757176212%;
$Y3: 14.6142356819118%;
$X4: 9.04179828778098%;
$Y4: 9.04537494849609%;
$X5: 5.60820400128187%;
$Y5: 5.60105067985167%;
$X6: 3.49082085794076%;
$Y6: 3.47651421508035%;
$X7: 2.17460971478277%;
$Y7: 2.15672641120725%;
$X8: 1.31621114315799%;
$Y8: 1.31978780387309%;
$X9: 0.801172000183125%;
$Y9: 0.804748660898228%;
$X10: 0.515039142974866%;
$Y10: 0.482849196538937%;
$X11: 0.343359428649911%;
$Y11: 0.289709517923362%;
$X12: 0.228906285766607%;
$Y12: 0.193139678615575%;
$X13: 0.114453142883304%;
$Y13: 0.128759785743716%;
$X14: 0.0572265714416518%;
$Y14: 0.0643798928718582%;

// View Holder Aurico
$XVH0: 61.8046971569839vh;
$YVH0: 61.8046971569839vh;
$XVH1: 38.1701231515817vh;
$YVH1: 38.2094664194479vh;
$XVH2: 23.5773474339605vh;
$YVH2: 23.627420683972vh;
$XVH3: 14.5927757176212vh;
$YVH3: 14.6142356819118vh;
$XVH4: 9.04179828778098vh;
$YVH4: 9.04537494849609vh;
$XVH5: 5.60820400128187vh;
$YVH5: 5.60105067985167vh;
$XVH6: 3.49082085794076vh;
$YVH6: 3.47651421508035vh;
$XVH7: 2.17460971478277vh;
$YVH7: 2.15672641120725vh;
$XVH8: 1.31621114315799vh;
$YVH8: 1.31978780387309vh;
$XVH9: 0.801172000183125vh;
$YVH9: 0.804748660898228vh;
$XVH10: 0.515039142974866vh;
$YVH10: 0.482849196538937vh;
$XVH11: 0.343359428649911vh;
$YVH11: 0.289709517923362vh;
$XVH12: 0.228906285766607vh;
$YVH12: 0.193139678615575vh;
$XVH13: 0.114453142883304vh;
$YVH13: 0.128759785743716vh;
$XVH14: 0.0572265714416518vh;
$YVH14: 0.0643798928718582vh;

$XVW0: 61.8046971569839vw;
$YVW0: 61.8046971569839vw;
$XVW1: 38.1701231515817vw;
$YVW1: 38.2094664194479vw;
$XVW2: 23.5773474339605vw;
$YVW2: 23.627420683972vw;
$XVW3: 14.5927757176212vw;
$YVW3: 14.6142356819118vw;
$XVW4: 9.04179828778098vw;
$YVW4: 9.04537494849609vw;
$XVW5: 5.60820400128187vw;
$YVW5: 5.60105067985167vw;
$XVW6: 3.49082085794076vw;
$YVW6: 3.47651421508035vw;
$XVW7: 2.17460971478277vw;
$YVW7: 2.15672641120725vw;
$XVW8: 1.31621114315799vw;
$YVW8: 1.31978780387309vw;
$XVW9: 0.801172000183125vw;
$YVW9: 0.804748660898228vw;
$XVW10: 0.515039142974866vw;
$YVW10: 0.482849196538937vw;
$XVW11: 0.343359428649911vw;
$YVW11: 0.289709517923362vw;
$XVW12: 0.228906285766607vw;
$YVW12: 0.193139678615575vw;
$XVW13: 0.114453142883304vw;
$YVW13: 0.128759785743716vw;
$XVW14: 0.0572265714416518vw;
$YVW14: 0.0643798928718582vw;

// Header
$headerHeight: $YVH5 + $YVH9;

// SideNavBar
$sideNavBarWidth: $XVW5;

$sitePadding: $YVH7;
$msgTabWidth: $XVW3 + $XVW6;
$msgExplorerWidth: $XVW3 + $XVW7;

@mixin generalPadding {    
    padding: 0 $sitePadding;
}

// Header
$headerHeight: $YVH5 + $YVH9;